{% extends "base2.html" %}
{% load static %}

{% block content %}
      
<div class="content-wrapper">
    <div class="row justify-content-center">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Changer votre mot de passe</h4>
            <form method="post" class="forms-sample"  action="{% url 'change-password' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="form-group">
                <label for="id_old_password">Ancien mot de passe</label>
                <input type="password" name="old_password" class="form-control" id="id_old_password">
              </div>
  
              <div class="form-group">
                <label for="id_new_password1">Nouveau mot de passe</label>
                <input type="password" name="new_password1" class="form-control" id="id_new_password1">
              </div>
  
              <div class="form-group">
                <label for="id_new_password2">Confirmer votre nouveau mot de passe</label>
                <input type="password" name="new_password2" class="form-control" id="id_new_password2">
              </div>
              <button type="submit" class="btn btn-primary mr-2">Soumettre</button>
              <a href="{% url 'list' %}" class="btn btn-light">Annuler</a>
            </form>
          </div>
        </div>
      </div> 
    </div>
  </div>
  
  

  

{% endblock %}